[submodule "submodules/EzGz"]
	path = submodules/EzGz
	url = git@github.com:Dugy/EzGz.git
[submodule "submodules/miniz"]
	path = submodules/miniz
	url = git@github.com:tfussell/miniz-cpp.git
[submodule "submodules/nlohmann_json"]
	path = submodules/nlohmann_json
	url = git@github.com:nlohmann/json.git
[submodule "submodules/json_schema_validator"]
	path = submodules/json_schema_validator
	url = git@github.com:pboettch/json-schema-validator.git
[submodule "submodules/musx_object_model"]
	path = submodules/musx_object_model
	url = git@github.com:rpatters1/musx-object-model.git
[submodule "submodules/tinyxml2"]
	path = submodules/tinyxml2
	url = git@github.com:leethomason/tinyxml2.git
